contexttimer
decord
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython==7.34.0
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy==3.7.5
torch>=1.10.0
tqdm
transformers==4.30.2
webdataset
pycocotools==2.0.7
pycocoevalcap==1.2
peft==0.3.0
safetensors==0.4.5
pyarrow==12.0.1
streamlit==1.23.1
thinc==8.2.5